.newsList{
    /* height: 20vh; */
    width: 39rem;
    /* display:flex; */
    /* margin-left: 5vh;
    margin-right: 5vh;
    margin-top: 2vh; */

    background-color: white;

    border-radius: 20px;
    border-color: rgb(182, 182, 182);
    box-shadow: 1px 4px 6px 2px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.6);

    padding: 18px;

}
